@use '../abstracts/mixins/mixins.scss' as mixin;

.health-tips__card {
  padding: 2.4rem;
  border-radius: 1.4rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 2.4rem;
  @include mixin.border($radius: true);
  border-left: 4px solid var(--brand-color);

  &-header {
    @include mixin.flex($between: true);
    flex-wrap: nowrap;
  }

  &-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h3 {
      font-size: 1.8rem;
      color: var(--title-color);

      @include mixin.media-query('md') {
        font-size: 1.6rem;
      }
    }
  }

  &-icon {
    width: 2rem;
    height: 2rem;
    color: var(--brand-color);
  }

  &-badge {
    color: var(--title-color);
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    border: 0.5px solid var(--border-color);
    border-radius: 0.8rem;
    background-color: var(--bg-color4);
  }

  @include mixin.media-query('md') {
    padding: 2rem;
  }

  @include mixin.media-query('sm') {
    padding: 1.6rem;
  }

  @include mixin.media-query('320px') {
    padding: 1rem;
  }
}
