@use '../abstracts/mixins/mixins.scss' as mixin;
.box__logo {
  @include mixin.flex($align: center, $gap: 0.8rem);
  color: var(--title-color);
  &--icon {
    background-color: var(--brand-color);
    width: 3.2rem;
    height: 3.2rem;
    @include mixin.flex($center: true);
    border-radius: 0.8rem;
  }
  &--text {
    font-size: 1.6rem;
  }
}
