@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/mixins.scss' as mixin;

.table-section__table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
  color: var(--title-color);
  text-align: left;

  &-thead {
    font-size: 1.8rem;
  }

  &-tr {
    @include mixin.border($side: bottom);
  }

  &-th {
    font-size: 1.6rem;
    text-align: left;
    padding: 1.2rem;
    font-weight: 600;
    width: max-content;
  }

  &-td {
    width: max-content;
    font-size: 1.4rem;
    padding: 1.2rem;
  }

  @include mixin.media-query('lg') {
    &-th {
      font-size: 1.4rem;
    }

    &-td {
      font-size: 1.2rem;
    }
  }

  @include mixin.media-query('690px') {
    &-th {
      font-size: 1.2rem;
      padding: 0.6rem;
      text-align: center;
    }

    &-td {
      font-size: 1rem;
      padding: 0.8rem;
      text-align: center;

      span {
        display: block;
      }

      &:nth-child(2) {
        width: 45%;

        & .table-section__badge {
          text-align: center;
        }
      }

      &:nth-child(3) {
        padding: 0.8rem;
        width: 55%;
      }
    }
  }
}

.table-section__info {
  margin-top: 2rem;
  padding: 1.2rem;
  border-radius: 1.4rem;
  background-color: var(--bg-color4);

  &-text {
    font-size: 1.4rem;
    color: var(--text-color);
    text-align: left;
  }
}
