@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/mixins.scss' as mixin;

.calculator {
  padding: vars.$section-padding;
  padding-top: 0;

  &__form,
  &__result {
    width: 100%;
    max-width: 50rem;
    padding: 3rem;
    background-color: var(--bg-color3);
    @include mixin.flex($direction: column, $align: center, $gap: 1rem);
    @include mixin.border($radius: true);
  }
  &__logo {
    width: 4.8rem;
    height: 4.8rem;
    background-color: var(--bg-color4);
    color: var(--brand-color);
    @include mixin.flex($center: true);
    border-radius: 1.4rem;
  }
  &__input-group {
    width: 100%;
    @include mixin.flex($direction: column, $gap: 1rem);
    label {
      font-size: 1.6rem;
      font-weight: bold;
      @include mixin.flex($align: center, $gap: 1rem);
    }
    input {
      padding: 1rem;
      font-size: 1.6rem;
      color: var(--title-color);
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
      background-color: var(--bg-color3);
      margin-bottom: 1rem;
    }
  }
  &__buttons {
    @include mixin.flex($gap: 1rem);
    flex-wrap: nowrap;
    width: 100%;
    button {
      width: 100%;
      padding: 1.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      background-color: var(--brand-color);
      border: none;
      border-radius: 0.8rem;
      &.btn-reset {
        color: var(--title-color);
        background-color: var(--bg-color3);
        border: 1px solid var(--text-color);
        flex: 4;
      }
    }
  }
  &__result {
    display: none;
    &-title {
      font-size: 2rem;
    }
    h4 {
      font-size: 4.8rem;
      margin: 1rem 0;
    }
    &__bmi-description {
      margin-top: 1rem;
      font-size: 1.6rem;
      text-align: center;
      max-width: 400px;
    }
    &.show {
      display: flex;
    }
  }
}
