@use '../abstracts/variables' as vars;

.health-tips {
  padding: vars.$section-padding;
  .health-tips__cards {
    width: 100%;
    max-width: 90rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}
