@use '../abstracts/variables' as vars;
@use '../abstracts/mixins/mixins.scss' as mixin;

.hero {
  padding-top: vars.$header-height;
  &__container {
    padding: vars.$section-padding;
    text-align: center;
    color: var(--title-color);
  }
  &__title {
    font-size: 6rem;
    &--highlight {
      color: var(--brand-color);
    }
  }
  &__description {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3.4rem;
    width: 100%;
    max-width: 800px;
    text-align: center;
  }
}
