@mixin flex(
  $direction: null,
  $justify: flex-start,
  $align: stretch,
  $gap: null,
  $wrap: nowrap,
  $center: false,
  $between: false
) {
  display: flex;

  // Só define flex-direction se for diferente do padrão
  @if $direction and $direction !=row {
    flex-direction: $direction;
  }

  // Só define flex-wrap se for diferente do padrão
  @if $wrap and $wrap !=nowrap {
    flex-wrap: $wrap;
  }

  @if $gap {
    gap: $gap;
  }

  @if $center {
    justify-content: center;
    align-items: center;
  } @else if $between {
    justify-content: space-between;
    align-items: center;
  } @else {
    justify-content: $justify;
    align-items: $align;
  }
}
