h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-weight: 700;
}
p {
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

label {
  color: var(--title-color);
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: block;
}

.title-section {
  font-size: 2.4rem;
  text-align: center;
}

.description-section {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: var(--text-color);
  text-align: center;
}
