$header-height: 7.2rem;
$section-padding: 4.8rem 0;

$brand-color: #43963c;

// colors dark mode
$dark-bg-color1: #020202;
$dark-bg-color2: #040404;
$dark-bg-color3: #060606;
$dark-bg-color4: #090909;
$dark-title-color: #eeeeee;
$dark-text-color: #868f8f;
$dark-border-color: #161616;

// colors light mode
$light-bg-color1: #fafafa;
$light-bg-color2: #f3f4f6;
$light-bg-color3: #eaecee;
$light-bg-color4: #d9edd7;
$light-title-color: #1c1c1e;
$light-text-color: #52525b;
$light-text-light-color: #fefefe;
$light-border-color: #d1d5db;

// badge colors
$badge-color1: #2b7fff;
$badge-color2: #43963c;
$badge-color3: #f0b100;
$badge-color4: #ff6900;
$badge-color5: #fb2c36;
$badge-color6: #f20024;
