.zoom-out {
  animation: zoom-out 0.5s ease-in-out;
  -webkit-animation: zoom-out 0.5s ease-in-out;
}

@keyframes zoom-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}
